/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 1px;
      background: var(--accent-color);
    }
  }

  p {
    font-size: 01rem;
    line-height: 1.8;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
    max-width: 900px;
    margin: 0 auto;
    text-wrap: balance;
  }
}

@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_services.scss';
@import './sections/_features.scss';
@import './sections/_features-2.scss';
@import './sections/_testimonials.scss';
@import './sections/_pricing.scss';
@import './sections/_faq.scss';
@import './sections/_contact.scss';
@import './sections/_service-details.scss';
@import './sections/_starter-section.scss';